* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
.card-container {
  padding: 10px;
  border-radius: 20px;
  background-image: url("./assets/nba.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 432px;
}
.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
  margin-bottom: 20px;
}
.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.player-card:hover .player-logo {
  transform: scale(0.95);
}
.player-logo {
  height: 350px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
