.image {
  width: 250px;
  border-radius: 50%;
}

.card {
  padding: 1rem;
  border: 2px solid red;
  box-shadow: 5px 5px 5px crimson;
  margin: 2rem;
  width: 400px;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* Öğe aralarına 1rem boşluk eklenir */
}
.cardInterior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  width: 150px;
  padding: 1rem;
  transform: scale(1); /* Normal durum */
  transition: all 1s linear;
}

.image {
  width: 250px;
  border-radius: 50%;
}

.card {
  padding: 1rem;
  border: 2px solid red;
  box-shadow: 5px 5px 5px crimson;
  margin: 2rem;
  width: 400px;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* Öğe aralarına 1rem boşluk eklenir */
}
.cardInterior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.large:hover {
  transform: scale(1.3);
}
.small:hover {
  transform: scale(0.8);
}
